*{
    font-family: Arial;
}
header{
    background-color: green;
    border: solid black;
}

nav{
    background-color: darkgreen;
    display: flex;
    color: black
}

nav:hover{
    color:white
}
body{
    background-color: blanchedalmond;
}

h1{
    color:white;
    font-family:Tahoma;
    font-size: 32px;
}
h2{
    color:darkgreen;
    text-transform:uppercase;
}